/* login.css */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #000000, #088187);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1.2s ease;
}

.login-container {
    background: #e1dede;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    animation: fadeIn 1.4s ease;
}

.login-container h2 {
    margin-bottom: 30px;
    color: #333;
}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"],
input[type="password"] {
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #4CAF50;
}

.payment-redirect-form {
    margin-top: 20px;
}

.btn-submit {
    padding: 12px;
    background-color: #ff0404;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease;
    width: 100%;
}

.btn-submit:hover {
    background-color: #8d0907;
    transform: scale(1.03);
}


.back-button {
    margin-top: 15px;
}

.btn-back {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

.btn-back:hover {
    background-color: #940000;
    transform: scale(1.05);
}
